<!-- 웹브라우저 모든 구조가 담긴 스크립트다. -->
<!DOCTYPE html>
<html>
    <head>
        <!--제목 설정-->
        <title>{{title}}</title>
        <link rel='stylesheet' href="/stylesheets/style.css"/>
        <style type="text/css">
            table{border-collapse: :collapse}
            th,td{border:1px solid black; width:100px;height:20px}
        </style>
    </head>
    <body>
        {{{body}}}
    </body>
</html>